<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  {{ partial "nav.html" . }}
  <main id="main-content" class="{{ if not .IsHome }}container{{ end }}">
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer.html" . }}
  <script src="{{ "pagefind/pagefind-ui.js" | relURL }}"></script>
  <script>
    window.addEventListener('DOMContentLoaded', function () {
      var el = document.getElementById('search');
      if (el) {
        new PagefindUI({
          element: '#search',
          showSubResults: false,
          showImages: false
        });
      }
    });
  </script>
</body>
</html>
